.footer {
    width: 100%;
    bottom: 0;
    left: 0;
  }

.footer--fondo{
  background-color: #2b2b2b;
}

h5{
  font-weight: bold;
  color: #ff9200;
}

@media screen and (max-width: 900px){
  .footer{
    position: fixed;
  }

  .footer_lista{
    display: none;
  }
}