<footer class="bg-primary text-white text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Integrantes</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a class="text-white">Delfino, Julieta</a>
          </li>
          <li>
            <a class="text-white">Focas, Ignacio</a>
          </li>
          <li>
            <a class="text-white">Gómez, Leandro</a>
          </li>
          <li>
            <a class="text-white">Weiss, Ezequiel</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="login" class="text-white">¿Estás registrado? Inicia sesión!</a>
          </li>
          <li>
            <a href="vino" class="text-white">Vinos</a>
          </li>
          <li>
            <a href="vodka" class="text-white">Vodkas</a>
          </li>
          <li>
            <a href="whisky" class="text-white">Whiskies</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 AnguBar
  </div>
</footer>