<mat-toolbar class="bg-primary text-white">
    <button mat-button routerLink="/home"><h1>AnguBar</h1></button>
    <button mat-button routerLink="/vino">Vinos</button>     
    <button mat-button routerLink="/vodka">Vodkas</button> 
    <button mat-button routerLink="/whisky">Whiskies</button> 
      
    <form style="width: 50%" [formGroup]="formBusqueda" (ngSubmit)="mostrarBusqueda()">
      <input type="text" class="input-busqueda-inicio" formControlName="nombre"/>
      <input type="submit" value="Buscar" />
    </form>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" routerLink="/login">
      <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
</mat-toolbar>

