.navbar--fondo{
  background-color: #2B2B2B;
}

.example-spacer {
    flex: 1 1 auto;
  }

  *{
    text-decoration: none;
  }

  .unstyle{
    all: unset;
    margin-top:7px
}

.login{
  margin-top:7px;
}

.logo{
  width: 150px;
  height: auto;
}