<mat-toolbar class="navbar--fondo text-white">
  <div *ngIf="isLogged"></div>
    <button mat-button routerLink="/home"><img src="../../../assets/anguBar.png" alt="" class="logo"></button>
    <button mat-button routerLink="/vino">Vinos</button>     
    <button mat-button routerLink="/vodka">Vodkas</button> 
    <button mat-button routerLink="/whisky">Whiskies</button> 
      
    <span class="example-spacer"></span>

    <a *ngIf="!isLogged" href="login" class="login nav-link link-white px-2">
      <mat-icon>account_circle</mat-icon>
    </a>

    <a href="carrito" mat-icon-button class="example-icon favorite-icon">
      <mat-icon>shopping_cart</mat-icon>
    </a>

    <button *ngIf="isLogged" style="cursor: pointer;" (click)="cerrarSesion()" class="unstyle nav-link link-red px-2">
      <a><mat-icon>logout</mat-icon></a>
    </button>

</mat-toolbar>