<div class="movie-items full-width">
    <div class="title-hd">
      <h2>Todas las Bebidas</h2>
      <a routerLink="/bebidas" color="primary">Ver todos</a>
    </div>
    <div style="display: flex; flex-wrap: wrap" >
      <div *ngFor="let bebida of bebidas">
        <div class="card">
          <a routerLink="/info/{{ bebida.id }}" class="a">
            <div class="info">
              <span style="font-size: 15px; font-weight: bold; color: white"
                >Ver info</span
              >
            </div>
            <img class="imagen" src="{{ bebida.img }}" />
          </a>
        </div>
      </div>
    </div>
  </div>



