<main class="principal">
    <div class="contenedorInformacion bg-secondary">
  
      <div class="izquierda">
        <div>
          <img src="{{bebida.img}}" style="height:400px;" />
        </div>
  
        <ul class="info-item">
          <li class="item"> Nombre: <span> {{bebida.nombre}}</span></li>
          <li class="item"> Precio: <span>{{bebida.precio}}</span></li>
          <li class="item"> Clasificación: <span>{{bebida.clasificacion}}</span></li>
        </ul>
      </div>
  
      <div class="derecha">
  
        <p class="descripcion">{{bebida.descripcion}}</p>
        
        <button class="btn btn-primary" (click)="agregarCarrito(bebida)">Agregar al carrito</button>
      </div>
    </div>
  
  </main>
  <br>
