/* .contenedor {
    display: flex;
    justify-content: center;
    margin: 100px 50px;
  } 

  .mat-form-field {
    width: 100%;
    min-width: 00px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .button {
    display: flex;
    justify-content: center;
  } 
  * {
    box-sizing: border-box;
  } */

  .divContainer {
    height: 100vh;
    /* width: 100vw; */
  }

  
  .loginBienvenido {
    margin-bottom: -7px;
  }
  
  .forgotPassword {
    color: #2474b6;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
  }
  
  .registerLink {
    font-size: 14px;
  }
  
  .registerLinkP {
    color: #2474b6;
    text-decoration: none;
    cursor: pointer;
  }
  
  .registerLinkP:hover {
    color: #08497e;
    text-decoration: underline;
    /* transition: ease 0.4s; */
  }
  
  .form-control {
    border: 1px solid #333333;
  }