*{
  text-decoration: none;
}
.divContainer {
    height: 100vh;
  }

  
  .loginBienvenido {
    margin-bottom: -7px;
  }
  
  .forgotPassword {
    color: #2474b6;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
  }
  
  .registerLink {
    font-size: 14px;
  }
  
  .registerLinkP {
    color: #2474b6;
    text-decoration: none;
    cursor: pointer;
  }
  
  .registerLinkP:hover {
    color: #08497e;
    text-decoration: underline;
  }
  
  .form-control {
    border: 1px solid #333333;
  }

  .login_card{
   -webkit-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);;
    border: solid 1px #a8a8a8;
    border-radius: 2%;
    padding: 2rem;
  }

  .login_card:hover{
    -webkit-box-shadow: 10px 10px 41px 0px rgba(88, 88, 88, 0.75);
     -moz-box-shadow: 10px 10px 41px 0px rgba(88, 88, 88, 0.75);
     box-shadow: 10px 10px 41px 0px rgba(88, 88, 88, 0.75);;
   }