<div class="bebida-items full-width">
    <div class="title-hd">
      <h2>Vinos</h2>
    </div>
    <div style="display: flex; flex-wrap: wrap; height: 60vh;">
      <div *ngFor="let vino of bebidas">
        <div *ngIf="vino.clasificacion == 'Vino'">
          <div class="card">
            <img class="imagen" src="{{ vino.img }}" />
            <a class="btn btn--angubar" routerLink="/info/{{ vino.id }}">Ver info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  