<div class="bebida-items full-width">
    <div class="title-hd">
      <h2>Vinos</h2>
    </div>
    <div style="display: flex; flex-wrap: wrap">
      <div *ngFor="let vino of bebidas">
        <div *ngIf="vino.clasificacion == 'Vino'">
          <div class="card">
            <a routerLink="/info/{{ vino.id }}" class="a">
              <div class="info">
                <span style="font-size: 15px; font-weight: bold; color: white"
                  >Ver info</span
                >
              </div>
              <img class="imagen" src="{{ vino.img }}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  